.edit-profile {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    &__buttons {
      grid-column: 1/span 2;
      justify-self: center;
    }
  }