@use "../../common-style.scss";

.notification {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 2px solid common-style.$color-dark-grey;
    &--error {
        border-color: common-style.$color-red;
        color: common-style.$color-red;
    }
    &--success {
        border-color: common-style.$color-green;
        color: common-style.$color-green;
    }
}