// Colors
$color-green: #00bc77;
$color-dark-grey: #222;
$color-light-grey: #ccc;
$color-dark-blue: #2c3e50;
$color-dark-purple: #12002b;
$color-red: #ff0022;

// Breakpoints
$breakpoint-mobile: 720px;
$breakpoint-tablet: 920px;

// Common styles
.button {
    border-color: $color-green;
    background-color: $color-green;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 8px;
}


label {
    font-weight: bold;
}
input {
    padding: 5px;
    font-size: 1.2rem;
}